html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Sans Serif Collection', sans-serif;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
/*navbar section*/
.navbar {
    background-image: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
}
    .navbar li a {
        color: white !important;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 10px;
        margin-left: 20px;
    }
.dropdown-menu {
    background-image: linear-gradient(90deg, #1cb5e0 0%, #000851 70%);
}
    .dropdown-menu li a {
        color: white !important;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 10px;
        margin-left: 20px;
    }
    .dropdown-menu .dropdown-item:hover,
    .dropdown-menu .dropdown-item:focus {
        color: #000; /* text color on hover */
        background-image: linear-gradient(90deg, #1cb5e0 0%, #000851 100%); /* light gray background */
    }

/*body section*/
.book-card {
    transition: all 0.3s ease;
}

    .book-card:hover {
        transform: translateY(-6px);
        box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    }
.book-card {
    transition: all 0.3s ease;
}

    .book-card:hover {
        transform: translateY(-6px);
    }



